version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_inversiones
    environment:
      POSTGRES_DB: inversiones
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  backend:
    build: .
    container_name: backend_inversiones
    command: node src/server.js
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    env_file:
      - .env

volumes:
  postgres_data:
